@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
:root{
    --primary-color:blue;
    --dark-gray:#64748b;
}

body{
    font-family: 'PT Serif', serif;
}
.container{
    max-width: 600px;
    margin: auto;
}
h2{color:#581c87;}
.container-center{
    padding-left: 1rem;
    padding: right 1rem; ;
}
.primary-link{
   background-color: rgba(165, 30, 124, 0.63); 
   border-radius: 0.5rem;
   border: 1px solid ;
   color: aliceblue;
}
   
.secondary-link{
background-color: rgb(9, 0, 128);
border-radius: 0.5rem;
color:whitesmoke;
    border: 1px solid;
}
.third-link{
    background-color: #38bdf8;
    border-radius: 0.5rem;
    border: 1px solid;

}
hr{
    margin: 2rem 0rem;
}
.List-non-bullet{
    list-style: none;
    
}
.List-inline-non-bullet{
    list-style: none;
}
.List-inline-Item{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: none;
    color:black;

}
.navigation .link{
    color:aliceblue;
    background-color: var(--primary-color);
    border-radius: 00.5rem;
    border: 1px solid;

    
}
.navigation .link-active{
    font-weight: bold;
 font-size: 2rem;

}
.navigation .nav-brand{
    font-weight: bold;
    font-size:2rem ;
    
}
.navigation .links-active{
    font-size: 2rem;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation{
    text-align: left;
}
.photo{
    padding: 2rem;
}
.photo.hero{
    max-width: 400px;
    display: block;
    margin: auto;
}
.photo.photo-heading{
    font-size: 50px;
    color: var(--dark-gray);
    text-align: center;

}
.img{
    max-width:400px;
    display: block;
    margin: auto;
}
img.img-header{
    font-size: 30px;
    text-align: center;
    color: var(--dark-gray);
    
}
.section h3{
text-align: center;
padding: 2rem;
}
.ow{
    background-color: #f1f5f9;
}
.footer .List-inline-Item{
    display: inline;
}
.footer{
    background-color: #581c87;
    padding: 1rem 2rem;
}
.footer .link{
color: aliceblue;
border-radius: 0.5rem;
text-align: center;
border: 1px solid;
padding: 1rem 2rem;
}
.footer .footer-header{
    text-align: center;
    color: aliceblue;

}
.footer ul{
    padding-inline-start: 0px;
    text-align: center;
}