@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
:root{
    --primary-color:blue;
}

body{
    font-family: 'PT Serif', serif;
}
.container{
    max-width: 600px;
    margin: auto;
}
h2{color:blue;}
.container-center{
    padding-left: 1rem;
    padding: right 1rem; ;
}
.primary-link{
   background-color: rgba(165, 30, 124, 0.63); 
   border-radius: 0.5rem;
   border: 1px solid ;
   color: aliceblue;
}
   
.secondary-link{
background-color: rgb(9, 0, 128);
border-radius: 0.5rem;
color:whitesmoke;
    border: 1px solid;
}
hr{
    margin: 2rem 0rem;
}
.List-non-bullet{
    list-style: none;
    
}
.List-inline-non-bullet{
    list-style: none;
}
.List-inline-Item{
    display: inline;
}